@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-gray-900;
  }
}

@layer components {
  .btn-primary {
    @apply bg-purple-600 hover:bg-purple-700 text-white font-bold py-3 px-6 rounded transition-colors duration-200;
  }
  
  .btn-secondary {
    @apply bg-white hover:bg-gray-50 text-gray-900 font-bold py-3 px-6 rounded border border-gray-300 transition-colors duration-200;
  }
}